* {
  margin: 0px;
  padding: 0px;
}
h1 {
  font: bold 20px verdana, sans-serif;
}
h2 {
  font: bold 14px verdana, sans-serif;
}
#agrupar{
  width: 75%;
  margin: auto;
  border: 3px black solid;
  padding: 10px;
}
#cabecera{
  background-color: rgb(236, 229, 131);
  padding: 15px;
  border: 1px black solid;
}


